/* line 4, ../scss/color_theme_3.scss */
.secTitle h2 {
  background: #F0C27B;
  background: #3483ff;
  background: -o-linear-gradient(-45deg, #4B1248 0%, #F0C27B 100%);
  background: -ms-linear-gradient(-45deg, #4B1248 0%, #F0C27B 100%);
  background: -moz-linear-gradient(-45deg, #4B1248 0%, #F0C27B 100%);
  background: -webkit-linear-gradient(-45deg, #4B1248 0%, #F0C27B 100%);
  background: linear-gradient(-45deg, #4B1248 0%, #F0C27B 100%);
  -webkit-background-clip: text;
}

/* line 11, ../scss/color_theme_3.scss */
.scrollToTop span {
  background: #F0C27B;
  background: #3483ff;
  background: -o-linear-gradient(-45deg, #4B1248 0%, #F0C27B 100%);
  background: -ms-linear-gradient(-45deg, #4B1248 0%, #F0C27B 100%);
  background: -moz-linear-gradient(-45deg, #4B1248 0%, #F0C27B 100%);
  background: -webkit-linear-gradient(-45deg, #4B1248 0%, #F0C27B 100%);
  background: linear-gradient(-45deg, #4B1248 0%, #F0C27B 100%);
  -o-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
/* line 16, ../scss/color_theme_3.scss */
.scrollToTop span:hover {
  background: #ffffff;
  -o-box-shadow: 0 0 8px 1px #F0C27B;
  -ms-box-shadow: 0 0 8px 1px #F0C27B;
  -moz-box-shadow: 0 0 8px 1px #F0C27B;
  -webkit-box-shadow: 0 0 8px 1px #F0C27B;
  box-shadow: 0 0 8px 1px #F0C27B;
}

/* line 23, ../scss/color_theme_3.scss */
.header.active {
  background: rgba(240, 194, 123, 0.75);
  background: #3483ff;
  background: -o-linear-gradient(-45deg, rgba(75, 18, 72, 0.75) 0%, rgba(240, 194, 123, 0.75) 100%);
  background: -ms-linear-gradient(-45deg, rgba(75, 18, 72, 0.75) 0%, rgba(240, 194, 123, 0.75) 100%);
  background: -moz-linear-gradient(-45deg, rgba(75, 18, 72, 0.75) 0%, rgba(240, 194, 123, 0.75) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(75, 18, 72, 0.75) 0%, rgba(240, 194, 123, 0.75) 100%);
  background: linear-gradient(-45deg, rgba(75, 18, 72, 0.75) 0%, rgba(240, 194, 123, 0.75) 100%);
}

/* line 34, ../scss/color_theme_3.scss */
#team .swiper-container2 .eachMember .socialLink li a:hover {
  background: #F0C27B;
  background: #3483ff;
  background: -o-linear-gradient(-45deg, #4B1248 0%, #F0C27B 100%);
  background: -ms-linear-gradient(-45deg, #4B1248 0%, #F0C27B 100%);
  background: -moz-linear-gradient(-45deg, #4B1248 0%, #F0C27B 100%);
  background: -webkit-linear-gradient(-45deg, #4B1248 0%, #F0C27B 100%);
  background: linear-gradient(-45deg, #4B1248 0%, #F0C27B 100%);
}
/* line 40, ../scss/color_theme_3.scss */
#team .swiper-container2 .eachMember:hover .imgWraper::before {
  background: rgba(240, 194, 123, 0);
  background: #3483ff;
  background: -o-linear-gradient(-180deg, rgba(240, 194, 123, 0) 0%, #F0C27B 100%);
  background: -ms-linear-gradient(-180deg, rgba(240, 194, 123, 0) 0%, #F0C27B 100%);
  background: -moz-linear-gradient(-180deg, rgba(240, 194, 123, 0) 0%, #F0C27B 100%);
  background: -webkit-linear-gradient(-180deg, rgba(240, 194, 123, 0) 0%, #F0C27B 100%);
  background: linear-gradient(-180deg, rgba(240, 194, 123, 0) 0%, #F0C27B 100%);
}
/* line 47, ../scss/color_theme_3.scss */
#team .teamSelect .teamBtnPrev, #team .teamSelect .teamBtnNext {
  background: #F0C27B;
  background: #3483ff;
  background: -o-linear-gradient(-45deg, #4B1248 0%, #F0C27B 100%);
  background: -ms-linear-gradient(-45deg, #4B1248 0%, #F0C27B 100%);
  background: -moz-linear-gradient(-45deg, #4B1248 0%, #F0C27B 100%);
  background: -webkit-linear-gradient(-45deg, #4B1248 0%, #F0C27B 100%);
  background: linear-gradient(-45deg, #4B1248 0%, #F0C27B 100%);
}

/* line 57, ../scss/color_theme_3.scss */
.footer .ftrTop .socialIcon a:hover {
  background: #F0C27B;
  background: #3483ff;
  background: -o-linear-gradient(-45deg, #4B1248 0%, #F0C27B 100%);
  background: -ms-linear-gradient(-45deg, #4B1248 0%, #F0C27B 100%);
  background: -moz-linear-gradient(-45deg, #4B1248 0%, #F0C27B 100%);
  background: -webkit-linear-gradient(-45deg, #4B1248 0%, #F0C27B 100%);
  background: linear-gradient(-45deg, #4B1248 0%, #F0C27B 100%);
}

/*# sourceMappingURL=color_theme_3.css.map */
