form .input-group-prepend {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

h1, h1 span {
  font-family: "Alfa Slab One", cursive;
}

h2 {
  font-family: "Sonsie One", cursive;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

h4, h5, a, span, strong {
  font-family: "Roboto", sans-serif;
}

h6 {
  font-style: italic;
}

p {
  font-family: "Pacifico", cursive;
}

/* ========== SCroll Bottom To Top ========== */
.scrollToTop {
  bottom: 30px;
  right: -70px;
  font-size: 21px;
  z-index: 3;
  width: 50px;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  -o-transform: rotate(-80deg);
  -ms-transform: rotate(-80deg);
  -moz-transform: rotate(-80deg);
  -webkit-transform: rotate(-80deg);
  transform: rotate(-80deg);
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.scrollToTop.active {
  right: 30px;
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.logo {
  background: rgba(255, 255, 255, 0.4);
  max-width: 110px;
}

.secTitle h2 {
  position: relative;
  color: transparent;
}

.secTitle h2::before {
  content: '';
  height: 6px;
  width: 45%;
  position: absolute;
  left: 0;
  bottom: -15px;
  background: #000;
}

.secTitle h2::after {
  content: '';
  height: 6px;
  width: 45%;
  position: absolute;
  right: 0;
  bottom: -15px;
  background: #000;
}

.secTitle svg {
  position: relative;
  z-index: 1;
  width: 50px !important;
}

/*========================================*/
/*========== Header ========== >>>>>>>>>>>*/
/*========================================*/
.header {
  top: 0;
  left: 0;
  color: #fff;
  background: rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px 0;
  z-index: 99;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.header.active {
  -o-box-shadow: 0 0 25px 0 rgba(2, 3, 3, 0.3);
  -ms-box-shadow: 0 0 25px 0 rgba(2, 3, 3, 0.3);
  -moz-box-shadow: 0 0 25px 0 rgba(2, 3, 3, 0.3);
  -webkit-box-shadow: 0 0 25px 0 rgba(2, 3, 3, 0.3);
  box-shadow: 0 0 25px 0 rgba(2, 3, 3, 0.3);
}

.header .navArea::after {
  content: "";
  display: table;
  clear: both;
}

.header .navArea .navBarHdr {
  overflow: hidden;
}

.header .navArea .navBarHdr .mobileMnuIcon {
  cursor: pointer;
  position: relative;
  height: 58px;
  width: 58px;
}

.header .navArea .navBarHdr .mobileMnuIcon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header .navArea .navBarHdr .mobileMnuIcon svg:last-child {
  display: none;
}

.header .navArea .navBarLink {
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header .navArea .navBarLink.active {
  left: 0;
  background: #111;
}

.header .navArea .navBarLink ul {
  line-height: 58px;
}

.header .navArea .navBarLink ul li a {
  color: #fff;
  padding: 5px;
  line-height: 1.5;
  overflow: hidden;
}

.header .navArea .navBarLink ul li a:hover {
  text-decoration: none;
}

.header .navArea .navBarLink ul li a::after {
  content: "";
  height: 2px;
  bottom: -2px;
  left: 50%;
  right: 50%;
  background: #fff;
  position: absolute;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header .navArea .navBarLink ul li a:hover::after {
  left: 5px;
  right: 5px;
  bottom: 0;
}

.header .navArea .navBarLink ul li a.active:after {
  left: 5px;
  right: 5px;
  bottom: 0;
}

/*========================================*/
/*========== Main Content ========== >>>>>*/
/*========================================*/
.mainContent {
  position: relative;
  z-index: 2;
  background: #fff;
}

/*========================================*/
/*========== Banner ========== >>>>>>>>>>>*/
/*========================================*/
#home {
  height: 100vh;
  background: #0074da;
}

#home .swiper-container {
  height: 100vh;
  background: #0074da;
}

#home .swiper-container:hover .bannerPrev, #home .swiper-container:hover .bannerNext {
  opacity: 0.7;
  transform: scale(1);
}

#home .swiper-container .bannerPrev {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 20px;
  z-index: 1;
  opacity: 0;
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -o-transform: scale(2);
  -ms-transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  transform: scale(2);
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -o-transition: 0.6s, 0.4s opacity 0.15s ease, 0.4s transform 0.15s ease;
  -ms-transition: 0.6s, 0.4s opacity 0.15s ease, 0.4s transform 0.15s ease;
  -moz-transition: 0.6s, 0.4s opacity 0.15s ease, 0.4s transform 0.15s ease;
  -webkit-transition: 0.6s, 0.4s opacity 0.15s ease, 0.4s transform 0.15s ease;
  transition: 0.6s, 0.4s opacity 0.15s ease, 0.4s transform 0.15s ease;
  -o-box-shadow: inset 0 0 0 4px #fff;
  -ms-box-shadow: inset 0 0 0 4px #fff;
  -moz-box-shadow: inset 0 0 0 4px #fff;
  -webkit-box-shadow: inset 0 0 0 4px #fff;
  box-shadow: inset 0 0 0 4px #fff;
}

#home .swiper-container .bannerPrev::before {
  content: "";
  position: absolute;
  width: 30%;
  height: 30%;
  background: #f0f0f0;
  transform: skew(45deg);
  top: 50%;
  left: 30%;
  opacity: 0.75;
}

#home .swiper-container .bannerPrev::after {
  content: "";
  position: absolute;
  width: 30%;
  height: 30%;
  background: #f0f0f0;
  left: 30%;
  bottom: 50%;
  transform: skew(-45deg);
  opacity: 0.75;
}

#home .swiper-container .bannerPrev:hover {
  background-color: rgba(231, 231, 231, 0.5);
  -o-box-shadow: inset 0 0 0 4px transparent;
  -ms-box-shadow: inset 0 0 0 4px transparent;
  -moz-box-shadow: inset 0 0 0 4px transparent;
  -webkit-box-shadow: inset 0 0 0 4px transparent;
  box-shadow: inset 0 0 0 4px transparent;
}

#home .swiper-container .bannerNext {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  right: 20px;
  z-index: 1;
  opacity: 0;
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -o-transform: scale(2);
  -ms-transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  transform: scale(2);
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -o-transition: 0.6s, 0.4s opacity 0.3s ease, 0.4s transform 0.3s ease;
  -ms-transition: 0.6s, 0.4s opacity 0.3s ease, 0.4s transform 0.3s ease;
  -moz-transition: 0.6s, 0.4s opacity 0.3s ease, 0.4s transform 0.3s ease;
  -webkit-transition: 0.6s, 0.4s opacity 0.3s ease, 0.4s transform 0.3s ease;
  transition: 0.6s, 0.4s opacity 0.3s ease, 0.4s transform 0.3s ease;
  -o-box-shadow: inset 0 0 0 4px #fff;
  -ms-box-shadow: inset 0 0 0 4px #fff;
  -moz-box-shadow: inset 0 0 0 4px #fff;
  -webkit-box-shadow: inset 0 0 0 4px #fff;
  box-shadow: inset 0 0 0 4px #fff;
}

#home .swiper-container .bannerNext::before {
  content: "";
  position: absolute;
  width: 30%;
  height: 30%;
  background: #f0f0f0;
  transform: skew(45deg);
  bottom: 50%;
  right: 30%;
  opacity: 0.75;
}

#home .swiper-container .bannerNext::after {
  content: "";
  position: absolute;
  width: 30%;
  height: 30%;
  background: #f0f0f0;
  right: 30%;
  top: 50%;
  transform: skew(-45deg);
  opacity: 0.75;
}

#home .swiper-container .bannerNext:hover {
  background-color: rgba(231, 231, 231, 0.5);
  -o-box-shadow: inset 0 0 0 4px transparent;
  -ms-box-shadow: inset 0 0 0 4px transparent;
  -moz-box-shadow: inset 0 0 0 4px transparent;
  -webkit-box-shadow: inset 0 0 0 4px transparent;
  box-shadow: inset 0 0 0 4px transparent;
}

#home .swiper-container .swiper-slide {
  /*========== parallax effect ==========*/
}

#home .swiper-container .swiper-slide img {
  width: 100vw;
  height: 100vh;
}

#home .swiper-container .swiper-slide .landSlide {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 116, 218, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  /*========== Title ========== */
}

#home .swiper-container .swiper-slide .landSlide .parallax {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}

#home .swiper-container .swiper-slide .landSlide .parallax .layer {
  width: 100%;
  height: 100%;
  position: absolute;
}

#home .swiper-container .swiper-slide .landSlide .parallax .layer .svg, #home .swiper-container .swiper-slide .landSlide .parallax .layer .svg2 {
  position: absolute;
  top: 20%;
  left: -55%;
  overflow: visible;
}

#home .swiper-container .swiper-slide .landSlide .parallax .layer .svg2 {
  top: -30%;
  left: -60%;
}

#home .swiper-container .swiper-slide .landSlide.otherSlide {
  background-color: rgba(0, 116, 218, 0);
}

#home .swiper-container .swiper-slide .landSlide.otherSlide .svg, #home .swiper-container .swiper-slide .landSlide.otherSlide .svg2 {
  opacity: .07;
}

#home .swiper-container .swiper-slide .landSlide .titleArea {
  top: 50%;
  left: 50%;
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
}

#home .swiper-container .swiper-slide .landSlide .titleArea .mainTitle {
  letter-spacing: .4vw;
  font-size: 5.5vw;
  z-index: 101;
  overflow: hidden;
  color: #ffffff;
}

#home .swiper-container .swiper-slide .landSlide .titleArea .mainTitle::before {
  content: '----------------';
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 12vw;
  border-width: 6px 0;
  color: #ffffff;
  border-style: solid;
  left: 0;
  -webkit-transform: translate3d(-101%, 0, 0);
  transform: translate3d(-101%, 0, 0);
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}

#home .swiper-container .swiper-slide .landSlide .titleArea .mainTitle:hover::before {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#home .swiper-container .swiper-slide .landSlide .titleArea .mainTitle span {
  display: inline-block;
  position: relative;
  -webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
  transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
  -webkit-transition: color 0.8s, -webkit-transform 0.8s;
  transition: color 0.8s, -webkit-transform 0.8s;
  transition: transform 0.8s, color 0.8s;
  transition: transform 0.8s, color 0.8s, -webkit-transform 0.8s;
  line-height: 7vw;
}

#home .swiper-container .swiper-slide .landSlide .titleArea .mainTitle:hover span {
  color: black;
  -webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 360deg);
  transform: perspective(1000px) rotate3d(0, 1, 0, 360deg);
}

/*========================================*/
/*========== Service ========== >>>>>>>>>>*/
/*========================================*/
#service .serviceAllItem {
  -o-box-shadow: 0 0 8px 1px #ededed;
  -ms-box-shadow: 0 0 8px 1px #ededed;
  -moz-box-shadow: 0 0 8px 1px #ededed;
  -webkit-box-shadow: 0 0 8px 1px #ededed;
  box-shadow: 0 0 8px 1px #ededed;
}

#service .serviceAllItem .serviceItem2 {
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  -o-box-shadow: -30px 0 500px 1px #ededed;
  -ms-box-shadow: -30px 0 500px 1px #ededed;
  -moz-box-shadow: -30px 0 500px 1px #ededed;
  -webkit-box-shadow: -30px 0 500px 1px #ededed;
  box-shadow: -30px 0 500px 1px #ededed;
}

#service .serviceAllItem .serviceItem3 {
  -o-box-shadow: -30px 0 500px 1px #ededed;
  -ms-box-shadow: -30px 0 500px 1px #ededed;
  -moz-box-shadow: -30px 0 500px 1px #ededed;
  -webkit-box-shadow: -30px 0 500px 1px #ededed;
  box-shadow: -30px 0 500px 1px #ededed;
}

/*========================================*/
/*========== Team ========== >>>>>>>>>>>>>*/
/*========================================*/
#team .swiper-container2 {
  overflow: hidden;
  position: relative;
  padding-top: 15px;
}

#team .swiper-container2::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 4px;
  transform: translate(-50%);
  border-radius: 8px;
  width: 360px;
  height: 538px;
  -o-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.6);
  -ms-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.6);
  background: #fff;
  z-index: 0;
}

#team .swiper-container2 .eachMember {
  overflow: hidden;
  max-width: 320px;
}

#team .swiper-container2 .eachMember .imgWraper {
  position: relative;
}

#team .swiper-container2 .eachMember .imgWraper::before {
  content: "";
  bottom: 0;
  opacity: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#team .swiper-container2 .eachMember:hover .imgWraper::before {
  opacity: 1;
}

#team .swiper-container2 .eachMember .teamDtls {
  border: 1px solid #D0D0D0;
  border-bottom-width: 2px;
  border-top: 0;
}

#team .swiper-container2 .eachMember .socialLink {
  background: none;
  position: absolute;
  left: -65px;
  top: 0;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#team .swiper-container2 .eachMember .socialLink li a {
  color: #fff;
  width: 45px;
  height: 45px;
  margin: 3px 0;
  line-height: 45px;
  background: #333;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}

#team .swiper-container2 .eachMember:hover .socialLink {
  left: 10px;
}

#team .swiper-container2 .teamSelect {
  margin: 3px 0 13px;
  bottom: 0;
  z-index: 3;
}

#team .swiper-container2 .teamSelect .teamBtnPrev, #team .swiper-container2 .teamSelect .teamBtnNext {
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 40px;
  border-radius: 50%;
  cursor: pointer;
  color: #FFF;
}

/*========================================*/
/*========== Progress ========== >>>>>>>>>*/
/*========================================*/
#progress {
  background: url(../img/dhaka.jpg) no-repeat center center/cover;
  background-attachment: fixed;
  position: relative;
}

#progress::after {
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(6, 32, 51, 0.8);
}

#progress .container {
  position: relative;
  z-index: 1;
}

#progress .counterCircle, #progress .counterCircle1, #progress .counterCircle2, #progress .counterCircle3, #progress .counterCircle4 {
  position: relative;
  padding-top: 100%;
}

#progress .progressItem {
  color: #fff;
}

/*========================================*/
/*========== Contract ==========>>>>>>>>>>*/
/*========================================*/
#contract .lftCntrctArea .contractItem a {
  font-size: 14px;
}

/*========================================*/
/*========== Aside ========== >>>>>>>>>>>>*/
/*========================================*/
.themeArea {
  width: 250px;
  right: -250px;
  top: 0px;
  height: 100%;
  -o-box-shadow: -2px 1px 4px 0 rgba(2, 3, 3, 0.15);
  -ms-box-shadow: -2px 1px 4px 0 rgba(2, 3, 3, 0.15);
  -moz-box-shadow: -2px 1px 4px 0 rgba(2, 3, 3, 0.15);
  -webkit-box-shadow: -2px 1px 4px 0 rgba(2, 3, 3, 0.15);
  box-shadow: -2px 1px 4px 0 rgba(2, 3, 3, 0.15);
  background: #FFF;
  z-index: 9999;
  padding: 35px 25px;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.themeArea.active {
  right: 0;
}

.themeArea .themeAreaMnu {
  top: 180px;
  left: -40px;
  height: 40px;
  background: #ffffff;
  width: 40px;
  line-height: 40px;
  cursor: pointer;
  font-size: 17px;
  z-index: 9999;
  box-shadow: -2px 1px 4px rgba(2, 3, 3, 0.15);
}

.themeArea .themeAreaColor .colorArea ul {
  overflow: hidden;
}

.themeArea .themeAreaColor .colorArea ul li {
  width: 25%;
}

.themeArea .themeAreaColor .colorArea ul li a {
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: auto;
  background: #000;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.themeArea .themeAreaColor .colorArea ul li:nth-child(1) a {
  background: #3483ff;
  background: -o-linear-gradient(-45deg, rgba(205, 15, 216, 0.75) 0%, rgba(52, 131, 255, 0.75) 100%);
  background: -ms-linear-gradient(-45deg, rgba(205, 15, 216, 0.75) 0%, rgba(52, 131, 255, 0.75) 100%);
  background: -moz-linear-gradient(-45deg, rgba(205, 15, 216, 0.75) 0%, rgba(52, 131, 255, 0.75) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(205, 15, 216, 0.75) 0%, rgba(52, 131, 255, 0.75) 100%);
  background: linear-gradient(-45deg, rgba(205, 15, 216, 0.75) 0%, rgba(52, 131, 255, 0.75) 100%);
}

.themeArea .themeAreaColor .colorArea ul li:nth-child(2) a {
  background: #70e1f5;
  background: #3483ff;
  background: -o-linear-gradient(-45deg, #ff5f6d 0%, #ffc371 100%);
  background: -ms-linear-gradient(-45deg, #ff5f6d 0%, #ffc371 100%);
  background: -moz-linear-gradient(-45deg, #ff5f6d 0%, #ffc371 100%);
  background: -webkit-linear-gradient(-45deg, #ff5f6d 0%, #ffc371 100%);
  background: linear-gradient(-45deg, #ff5f6d 0%, #ffc371 100%);
}

.themeArea .themeAreaColor .colorArea ul li:nth-child(3) a {
  background: #4B1248;
  background: #3483ff;
  background: -o-linear-gradient(90deg, #4B1248 0%, #F0C27B 100%);
  background: -ms-linear-gradient(90deg, #4B1248 0%, #F0C27B 100%);
  background: -moz-linear-gradient(90deg, #4B1248 0%, #F0C27B 100%);
  background: -webkit-linear-gradient(90deg, #4B1248 0%, #F0C27B 100%);
  background: linear-gradient(90deg, #4B1248 0%, #F0C27B 100%);
}

.themeArea .themeAreaColor .colorArea ul li:nth-child(4) a {
  background: #ADD100;
  background: #3483ff;
  background: -o-linear-gradient(90deg, #F9D423 0%, #FF4E50 100%);
  background: -ms-linear-gradient(90deg, #F9D423 0%, #FF4E50 100%);
  background: -moz-linear-gradient(90deg, #F9D423 0%, #FF4E50 100%);
  background: -webkit-linear-gradient(90deg, #F9D423 0%, #FF4E50 100%);
  background: linear-gradient(90deg, #F9D423 0%, #FF4E50 100%);
}

.themeArea .themeAreaColor .colorArea ul li:nth-child(5) a {
  background: #FF4E50;
  background: #3483ff;
  background: -o-linear-gradient(90deg, #DC2424 0%, #4A569D 100%);
  background: -ms-linear-gradient(90deg, #DC2424 0%, #4A569D 100%);
  background: -moz-linear-gradient(90deg, #DC2424 0%, #4A569D 100%);
  background: -webkit-linear-gradient(90deg, #DC2424 0%, #4A569D 100%);
  background: linear-gradient(90deg, #DC2424 0%, #4A569D 100%);
}

.themeArea .themeAreaColor .colorArea ul li:nth-child(6) a {
  background: #F0C27B;
  background: #3483ff;
  background: -o-linear-gradient(90deg, #000000 0%, #53346D 100%);
  background: -ms-linear-gradient(90deg, #000000 0%, #53346D 100%);
  background: -moz-linear-gradient(90deg, #000000 0%, #53346D 100%);
  background: -webkit-linear-gradient(90deg, #000000 0%, #53346D 100%);
  background: linear-gradient(90deg, #000000 0%, #53346D 100%);
}

.themeArea .themeAreaColor .colorArea ul li:nth-child(7) a {
  background: #AAFFA9;
  background: #3483ff;
  background: -o-linear-gradient(90deg, #108dc7 0%, #ef8e38 100%);
  background: -ms-linear-gradient(90deg, #108dc7 0%, #ef8e38 100%);
  background: -moz-linear-gradient(90deg, #108dc7 0%, #ef8e38 100%);
  background: -webkit-linear-gradient(90deg, #108dc7 0%, #ef8e38 100%);
  background: linear-gradient(90deg, #108dc7 0%, #ef8e38 100%);
}

.themeArea .themeAreaColor .colorArea ul li:nth-child(8) a {
  background: #9D50BB;
  background: #3483ff;
  background: -o-linear-gradient(90deg, #5f2c82 0%, #49a09d 100%);
  background: -ms-linear-gradient(90deg, #5f2c82 0%, #49a09d 100%);
  background: -moz-linear-gradient(90deg, #5f2c82 0%, #49a09d 100%);
  background: -webkit-linear-gradient(90deg, #5f2c82 0%, #49a09d 100%);
  background: linear-gradient(90deg, #5f2c82 0%, #49a09d 100%);
}

/*========================================*/
/*========== Footer ========== >>>>>>>>>>>*/
/*========================================*/
.footer {
  z-index: 0;
}

.footer .ftrTop {
  background: #282d30;
}

.footer .ftrTop h4 {
  color: #ffffff;
}

.footer .ftrTop h6 {
  color: #BDC6D9;
}

.footer .ftrTop .socialIcon a {
  color: #9ba0a2;
  display: block;
  font-size: 20px;
  width: 60px;
  line-height: 60px;
  height: 60px;
  background: #25282a;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.footer .ftrBtm {
  background: #27292b;
}

.footer .ftrBtm span {
  color: #9ba0a2;
}
