$font-size-10:10px;

$font-family_alfa: 'Alfa Slab One', cursive;
$font-family_sonsie: 'Sonsie One', cursive;
$font-family_faster: 'Faster One', cursive;
$font-family_pacifico: 'Pacifico', cursive;
$font-family_roboto: 'Roboto', sans-serif;;


$theme1-color1:#cd0fd8;
$theme1-color1-rgba0:rgba(205, 15, 216, 0);
$theme1-color1-rgba075:rgba(205, 15, 216, 0.75);
$theme1-color2:#3483ff;
$theme1-color2-rgba0:rgba(52, 131, 255, 0);
$theme1-color2-rgba075:rgba(52, 131, 255, 0.75);

$theme2-color1:#FF5F6D;
$theme2-color1-rgba0:rgba(255, 95, 109, 0);
$theme2-color1-rgba075:rgba(255, 95, 109, 0.75);
$theme2-color2:#FFC371;
$theme2-color2-rgba0:rgba(255, 195, 113, 0);
$theme2-color2-rgba075:rgba(255, 195, 113, 0.75);

$theme3-color1:#4B1248;
$theme3-color1-rgba0:rgba(75, 18, 72, 0);
$theme3-color1-rgba075:rgba(75, 18, 72, 0.75);
$theme3-color2:#F0C27B;
$theme3-color2-rgba0:rgba(240, 194, 123, 0);
$theme3-color2-rgba075:rgba(240, 194, 123, 0.75);

$theme4-color1:#F9D423;
$theme4-color1-rgba0:rgba(249, 212, 35, 0);
$theme4-color1-rgba075:rgba(249, 212, 35, 0.75);
$theme4-color2:#FF4E50;
$theme4-color2-rgba0:rgba(255, 78, 80, 0);
$theme4-color2-rgba075:rgba(255, 78, 80, 0.75);

$theme5-color1:#F9D423;
$theme5-color1-rgba0:rgba(249, 212, 35, 0);
$theme5-color1-rgba075:rgba(249, 212, 35, 0.75);
$theme5-color2:#4A569D;
$theme5-color2-rgba0:rgba(74, 86, 157, 0);
$theme5-color2-rgba075:rgba(74, 86, 157, 0.75);

$theme6-color1:#000000;
$theme6-color1-rgba0:rgba(0, 0, 0, 0);
$theme6-color1-rgba075:rgba(0, 0, 0, 0.75);
$theme6-color2:#53346D;
$theme6-color2-rgba0:rgba(83, 52, 109, 0);
$theme6-color2-rgba075:rgba(83, 52, 109, 0.75);

$theme7-color1:#108DC7;
$theme7-color1-rgba0:rgba(16, 141, 199, 0);
$theme7-color1-rgba075:rgba(16, 141, 199, 0.75);
$theme7-color2:#EF8E38;
$theme7-color2-rgba0:rgba(239, 142, 56, 0);
$theme7-color2-rgba075:rgba(239, 142, 56, 0.75);

$theme8-color1:#5F2C82;
$theme8-color1-rgba0:rgba(95, 44, 130, 0);
$theme8-color1-rgba075:rgba(95, 44, 130, 0.75);
$theme8-color2:#49A09D;
$theme8-color2-rgba0:rgba(73, 160, 157, 0);
$theme8-color2-rgba075:rgba(73, 160, 157, 0.75);


$color_fff:#ffffff;
$color_000:#000000;

$copyRight-color:#9ba0a2;

$ftr-top-bcg:#282d30;
$ftr-btm-bcg:#27292b;